<div ng-controller="IndexController">

  <super-navbar>
      <super-navbar-title>
          I Feel...
      </super-navbar-title>
  </super-navbar>

  <div class="item item-image ">
    <img src="/images/i_feel_background.jpg">
  </div>

  <div class="background-image-container">

    <div class="padding background-image-container__title--give-appreciation">BUILD FRIENDSHIP<br> AND CLOSENESS</div>

  </div>

  <div class="padding main-explanation row" style="background-color: #FDA354;">
      <div class="super-information-circled col col-5 col-center"></div>
      <div class="col col-90"> Express your feelings to your partner
      </div>
  </div>

  <div class="sub-explanation__text">
    <p>One way to know each other better is to be honest and open about your feelings – both pleasant and not so pleasant ones. But we don’t always know how we feel ourselves, much less how to tell our partners! Take turns: one of you scroll through the many feelings in this app and find several that describe how you are feeling now. Show or tell them to your partner.  If the feelings are difficult, try to be gentle when you tell them.</p>
    <p>Your partner should just listen and not try to fix anything.  Then reverse roles as talker and listener. You can try to solve the problem later – but right now, this exercise is just for understanding each other better.</p>
  </div>

  <super-navigate view-id="begin-questions">
    <div class="begin-questions">GET STARTED</div>
  </super-navigate>

</div>